.Rproj.user
.Rhistory
.RData
.Ruserdata
Astrometry.2017.01.28.RData
Astrometry.2017.02.07.RData
Astrometry.2017.02.11.RData
MS*
RG*
SG*
*.RData
Solution_01
solutions__
solutions
solutions_20170703
packrat/lib*/
packrat
solutions_OortGxGy.rds
*.RDS
~$SpPh.xlsx
*.rds
